h2 {
  font-size: 1.5em;
}
header {
  background-color: #018749;
}
.border-image {
  border: 3px solid #dc3545;
}
h3 {
  font-size: 1.2em;
}
a.text-danger {
  text-decoration: underline;
}
